@import "../../app.scss";
.contact{
    height: 100%;
    max-width: 1366px;
    margin:15%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:50px;
    
    @include mobile{
        margin: 0;
       width: 100%;
       padding: 10px;
       flex-direction: column;
      }


    .textContainer{
        flex:1;
        display: flex;
        flex-direction: column;
        gap:40px;
        
        @include mobile{
            gap:20px;
            text-align: center;
            align-items: center;
        
          }


        h1{
            font-size:80px;
            line-height: 88px;
            @include mobile{
              font-size: 36px;
            }

        }
    }
    .formContainer{
        flex:1;
        position: relative;
        @include mobile{
            padding:50px;
            width: 100%;
          }

        .phoneSvg{
            stroke:orange;
            color:orange;
            
            position: absolute;
            margin:auto;
            z-index: -1;
            @include mobile{
                margin-left:-75px;
    
              }

        }
        form{
        display: flex;
        flex-direction: column;
        gap:20px;
        
        input,textarea{
            padding:20px;
            background-color: transparent;
            border:1px solid white;
            color:white;
            border-radius:5px;
            @include mobile{
              padding: 10px;
            }
            
            
  
        }
        button{
            padding:20px;
            border:none;
            background-color: orange;
            cursor:pointer;
            font-weight: 500;
            
            @include mobile{
                padding: 10px;
              }
  
        }
    }
}
}