@import "../../app.scss";
.navbar{
    height:90px;
    
    
    

    .wrapper{
       
        max-width:1366px;
        margin:auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        height:100%;
        @include mobile{
            justify-content: flex-end;
            padding: 10px;
        }
    }
    span{
        font-weight: bold;
        font-size: 20px;
        margin-left:100px;

        @include mobile{
            display: none;
        }
    }
    .social{
        display: flex;
        gap:20px;
        
    }
    img{
        width:25px;
        height:25px;
    }
}

/*.course{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .box{
        width:200px;
        height:200px;
        background-color: white;
        
    }
}*/
